/* main-color-text #212121
color-text #757575
accent-color-text #2196F3
white #FFFFFF
black #000000

background-color-secondary #F5F4FA
background-color-footer #2F303A
*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --transparency-color: rgba(255, 255, 255, 0.6);
    --primary-white-color: #ffffff;
    --primary-black-color: #000000;

    --background-color-main: #ffffff;
    --background-color-secondary: #F5F4FA;
    --background-color-footer: #2F303A;
}

body {
    background-color:var(--background-color-main);
    color:var(--primary-text-color);
    font-family:'Roboto', sans-serif;
    letter-spacing: 0.03em;

}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* page-header */
.logo {
    color: var(--primary-black-color);
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo span {
    color: var(--accent-color);
}

/* site-nav */
.site-nav .link,
.auth-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.auth-nav .link {
    color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* section */
.hero {
    background-color: var(--background-color-footer);
}
.hero-title{
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-list .text {
    font-size: 14px;
    line-height: 1.71;
}

.team-list .title{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-list .post {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* page footer */
.page-footer {
    background-color: var(--background-color-footer);
}

.page-footer .logo {
    color: var(--primary-white-color);

}

.contacts .link{
    color: var(--transparency-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.contacts .adds {
    color: var(--primary-white-color);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--primary-white-color);

}

/* portfolio */
.project .title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project .type{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
}

/* button */

.button {
    color: var(--title-text-color);
    background-color: var(--background-color-secondary);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 5px;
}

.button.primary {
    background-color: var(--accent-color);
    color: var(--background-color-main);
}
/*
.button.secondary {
    color: var(--title-text-color);
    background-color: var(--background-color-secondary);
} */